* {
    font-size: 14px;
}

.Cart-main {
    display: flex;
    margin: 0 10vw;
    flex-wrap: wrap;
}

.Cart-main-Sub-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid rgb(192, 192, 196);
    padding-right: 5vw;
    flex-wrap: wrap;

}

.Cart-main-Sub-1 .Cart-main-Sub-1-1 {
    background: rgb(250, 251, 252);
    padding: 12px;
    border: 1px solid gainsboro;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
}

.Cart-main-Sub-1-1-main {
    padding: 10px;
    margin: 0 auto;
    width: 35vw;
    display: flex;
    line-height: 20px;
}

.Cart-main-Sub-1 img {
    width: 100px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 5px;
    margin-right: 40px;
}

.Cart-main-Sub-price {
    font-weight: bold;
}

.Cart-item-quantity {
    & input {
        width: 80px;
        height: auto;
    }

    & .quantity-decrease,
    .quantity-increase {
        padding: 2px 5px;

        &:hover {
            background: #c3c2c2;
            color: white;
        }
    }
}


.Cart-main-Sub-serial-no {
    font-size: 10px;
}

.Cart-main-Sub-deatil {
    display: flex;
    font-weight: bold;
    gap: 20px;
}

.S-close {
    background-color: black;
    color: white;
    height: fit-content;
    border-radius: 50%;
    padding: 3px 5px;

}

.Cart-main-Sub-2 {
    background: rgb(255, 255, 255);
    padding: 10px;
    margin: 0 auto;
    width: 30vw;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

    & .Cart-main-Sub-2-2,
    & .Cart-main-Sub-2-3 {
        width: 90%;

        margin: 30px auto;
        padding: 20px;

        border: 2px solid gray;
        border-radius: 10px;

        background: rgb(235, 234, 234);
    }

    & .Cart-main-Sub-2-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        position: relative;

        & .dropdown-content-box-2 {

            /* animation */
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s ease, visibility 0s 0.5s;

            width: 300px;
            padding: 10px;
            text-align: center;

            z-index: 1;
            position: absolute;
            top: 100%;

            border: 2px solid gainsboro;
            border-radius: 8px;
            background-color: white;
            box-shadow: 5px 5px 8px rgba(32, 32, 32, 0.1);
        }

        /* &:hover .dropdown-content-box-2 {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.5s ease, visibility 0s 0s;
        } */

    }

    & .Cart-main-Sub-2-3 {
        & p {
            font-size: 12px;
        }

        & hr {
            border: 1px solid white;
            margin: 5px 0;
        }

        & .Cart-main-Sub-2-content {
            display: flex;
            justify-content: space-between;
        }
    }


}



main .S-No-items {
    display: none;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    line-height: 25px;

    & h2 {
        font-size: 2rem;
        line-height: 1.5;
    }

    & p {
        font-weight: 500;
        font-size: 16px;
        color: gray;
        margin-bottom: 3vh;
    }

    & a {
        border: 0;
        width: 350px;
        padding: 10px;
        font-weight: 500;
        font-size: 1.2rem;
    }

}




/* Gradian Button */

.S_btn-grad {
    display: block;

    color: white;

    transition: 0.5s;
    box-shadow: 0 0 20px #eee;

    background: linear-gradient(to right, #f8a0e2 0%, #9733EE 51%, #DA22FF 100%);
    background-size: 200% auto;


    padding: 8px;

    text-align: center;
    font-weight: 700;
    text-transform: uppercase;

    border-radius: 10px;

    &:hover {
        /* change the direction of the change here */
        background-position: right center;
    }
}

.btn-grad {
    display: block;

    color: white;
    box-shadow: 0 0 20px #eee;
    background: linear-gradient(to right, #f8a0e2 0%, #9733EE 51%, #DA22FF 100%);
    background-size: 200% auto;

    margin: 10px;
    padding: 15px 45px;

    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;

    border-radius: 10px;

    &:hover {
        /* change the direction of the change here */
        background-position: right center;
    }
}


@media (max-width: 768px) {

    .navbar,
    .navUp {
        display: none;
    }

    /* Styles for mobile devices */
    main {
        & .Cart-main {
            margin: 0;

            flex-direction: column;
            justify-content: center;

            & .Cart-main-Sub-1 {
                padding: 0;
                margin-bottom: 30px;

                border: 0;

                justify-content: center;


                & .Cart-main-Sub-1-1 {
                    width: 80%;
                    margin: 0 auto;

                    & .Cart-main-Sub-1-1-main {
                        width: 95%;
                        margin: 0;

                        gap: 30px;
                        align-items: center;
                        flex-direction: column;

                        & img {

                            margin: 0 auto;
                            margin-top: 15px;
                            width: 105%;
                        }
                    }

                }
            }

            & .Cart-main-Sub-2 {
                width: 90%;

                & .Cart-main-Sub-2-2,
                & .Cart-main-Sub-2-3 {
                    width: 100%;

                }
            }

        }
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets */

}

@media (min-width: 1025px) {
    /* Styles for desktops */

}