/* style.css */
#enterDetails {
    width: 100%;  
    background-color: rgb(122, 25, 122); 
    color: rgb(1, 1, 1); 
}


#label{
    margin-left: 500px;
    font-size: 25px;
}

input {
    width: 200px;
    height: 23px;
}

select{
    width: 200px;
    height: 23px;
}

#insert{
    margin-left: 500px;
}